[buildout]
extends = 
    http://dist.plone.org/release/3.3.1/versions.cfg
    http://good-py.appspot.com/release/repoze.zope2/1.0

versions = versions
find-links = 
    http://dist.plone.org/thirdparty/PILwoTk-1.1.6.4.tar.gz
    http://dist.plone.org/experimental/release/3.3rc3/

parts = 
    instance
    plonesite
    paster

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs = 
    PILwoTk
    Plone
    repoze.zope2

[plonesite]
recipe = collective.recipe.plonesite

[paster]
recipe = repoze.recipe.egg
scripts = paster
eggs = ${instance:eggs}
