[buildout]
extends = 
    http://dist.plone.org/release/3.3.1/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0a2

versions = versions
find-links = http://dist.plone.org/thirdparty/PILwoTk-1.1.6.4.tar.gz
parts = 
    instance
    plonesite

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs = 
    PILwoTk
    Plone
    collective.controlpanel.edit_css
    collective.project
    plone.app.dexterity

[plonesite]
recipe = collective.recipe.plonesite
