[buildout]
parts = 
    zope2
    plone
    instance

find-links = http://dist.plone.org/thirdparty/PILwoTk-1.1.6.4.tar.gz
versions = versions

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs = 
    PILwoTk
    Plone
products =
    ${plone:location}

[plone]
recipe = plone.recipe.distros
urls = http://launchpad.net/plone/2.5/2.5.5/+download/Plone-2.5.5.tar.gz
nested-packages = Plone-2.5.5.tar.gz
version-suffix-packages = Plone-2.5.5.tar.gz

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.9.12/Zope-2.9.12-final.tgz

[versions]
plone.recipe.zope2instance = 3.6
plone.recipe.zope2install = 3.2


