[buildout]
versions = versions
parts = instance plone

[plone]
recipe = hexagonit.recipe.download
url = http://dist.plone.org/archive/Plone-2.1.4.tar.gz
strip-top-level-dir = true

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.8.12/Zope-2.8.12-final.tgz 

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs = Pillow
products = ${buildout:directory}/parts/plone

[versions]
plone.recipe.zope2instance = 3.6
plone.recipe.zope2install = 3.2
